<IfModule mod_mime.c>
  <FilesMatch "(\.js\.gz|\.json\.gz)$">
    ForceType 'text/javascript; charset=UTF-8'
    FileETag None
  </FilesMatch>
  AddEncoding gzip .gz
  AddType text/javascript .gz

  <FilesMatch "\.css\.gz$">
    ForceType text/css
    FileETag None
  </FilesMatch>
  AddEncoding gzip .gz
  AddType text/css .gz

  <FilesMatch "\.csv\.gz$">
    ForceType 'text/csv; charset=UTF-8'
    FileETag None
  </FilesMatch>
  AddEncoding gzip .gz
  AddType text/csv .gz

  <FilesMatch "\.html\.gz$">
    ForceType 'text/html; charset=UTF-8'
    FileETag None
  </FilesMatch>
  AddEncoding gzip .gz
  AddType text/html .gz

  <FilesMatch "(\.jpg|\.jpeg|\.gif|\.png)$">
    FileETag None
  </FilesMatch>

</IfModule>
<IfModule mod_deflate.c>
  SetEnvIfNoCase Request_URI \.gz$ no-gzip
</IfModule>
<IfModule mod_headers.c>
  Header set Vary "Accept-Encoding, Cookie"
  Header set Cache-Control 'max-age=300, must-revalidate'
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/javascript "modification plus 2 hours"
  ExpiresByType text/csv "modification plus 2 weeks"
  ExpiresByType text/css "modification plus 2 weeks"
  ExpiresByType text/html "modification plus 2 weeks"
  ExpiresByType image/jpeg "modification plus 2 year"
  ExpiresByType image/png "modification plus 2 year"
  ExpiresByType image/gif "modification plus 2 year"
</IfModule>

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800).*
RewriteRule (.*/)(.*?)(\.js|\.json|\.css|\.csv|\.html)$ $1\.$2$3\.gz [L]
</IfModule>