body {
	font-family:Verdana;
	margin:0;
	padding:0;
}
h1, h3, #header, #map, #votebox, #about, #footer, #buttons {
	padding:0;
	width: 900px;
	margin:30px auto;
	text-align:center;
}
h1 {
	font-size:26pt;
	margin-bottom:8px;
}
h3 {
	margin-top:8px;
	font-size:14pt;
	font-weight:normal;
}
#header {
	font-size:17pt;
}
#map {		
	height:550px;
}
#votebox iframe {
	margin:0 auto;
}
#about {
	width: 600px;
	font-size:11pt;
}
#about p,#about ol li {
	text-align:justify;
	margin-top:10px;
}
#footer {
	clear:both;
	width: 900px;
	font-size:10pt;
	text-align:center;
	padding:20px 0;
	line-height:160%;
}
#buttons {
	width:306px;
	text-align:justify;
	display:block;
}
#buttons li {
	width:100px;
	height:65px;
	display:block;
	float:left;
	overflow:hidden;
	text-align:center;
}

#buttons li div, #buttons li iframe {
	display:inline;
}

#posolstvo-button, #reg-button, #sec-button {
	margin:5px 0px;
	height:60px;
	cursor:pointer;
	position:relative;
	left:25px;
}
.menu_button_pop {
	left:10px;
}

.infodiv {
	text-align:left;
	font-size:14px;
}
.infodiv h3 {
	text-align:align;
	font-size:14px;
	width:auto;
	margin:3px 0;
	font-weight:bold;
}
